@charset "UTF-8";
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");
@font-face {
  font-family: "sunshine-bold";
  src: url("../../assets/fonts/gwangyang-sunshine-bold.ttf") format("truetype");
}
@font-face {
  font-family: "sunshine-regular";
  src: url("../../assets/fonts/gwangyang-sunshine-regular.ttf") format("truetype");
}
.sunshine-bold {
  font-family: "sunshine-bold", sans-serif;
}

.sunshine-regular {
  font-family: "sunshine-regular", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}

.v-spacer-32 {
  height: 32px;
}

.v-spacer-64 {
  height: 64px;
}

.v-spacer-96 {
  height: 96px;
}

.h-spacer-16px {
  width: 16px;
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.scroll::-webkit-scrollbar {
  display: none;
}

.scroll {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.tech-board {
  display: flex;
  padding: 32px 0px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.tech-board .tech-skill-title {
  text-align: center;
  font-size: 32px;
  font-style: oblique;
  font-weight: 900;
}
.tech-board .top-skill-board {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}
.tech-board .top-skill-board .front-skills {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.tech-board .top-skill-board .front-skills .web-base-skill {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.tech-board .top-skill-board .front-skills .web-base-skill img {
  width: 128px;
}
.tech-board .top-skill-board .front-skills .web-base-skill img:last-child {
  width: 120px;
}
.tech-board .top-skill-board .front-skills .react-icon {
  height: 128px;
}
.tech-board .top-skill-board .front-skills .redux-ts-sass-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.tech-board .top-skill-board .front-skills .redux-ts-sass-div img {
  width: 128px;
}
.tech-board .top-skill-board .front-skills .redux-ts-sass-div img:last-child {
  width: 145px;
}
.tech-board .top-skill-board .front-skills .vue-stacks {
  margin-top: 16px;
  display: flex;
  align-items: flex-start;
  gap: 48px;
}
.tech-board .top-skill-board .front-skills .vue-stacks img {
  width: 128px;
}
.tech-board .top-skill-board .android-skills {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.tech-board .top-skill-board .android-skills img {
  width: 128px;
}
.tech-board .top-skill-board .android-skills .and-top-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.tech-board .top-skill-board .android-skills .retrofit-icon {
  width: 328px;
}
.tech-board .top-skill-board .android-skills .and-bottom-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.tech-board .top-skill-board .android-skills .and-bottom-skills img:last-child {
  width: 250px;
}
.tech-board .bottom-skill-board {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}
.tech-board .bottom-skill-board img {
  width: 128px;
}
.tech-board .bottom-skill-board .communication-tools {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.tech-board .bottom-skill-board .communication-tools .communication-skills {
  display: flex;
  align-items: center;
  gap: 32px;
}
.tech-board .bottom-skill-board .config-management {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.tech-board .bottom-skill-board .config-management .config-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.tech-board .bottom-skill-board .config-management img:first-child {
  width: 196px;
}
.tech-board .bottom-skill-board .config-management .config-bottom-skills {
  display: flex;
  align-items: center;
  gap: 16px;
}

.title-line {
  width: 100%;
  height: 1px;
  background: #0b0a0a;
}

.tech-title-text {
  text-align: left;
  width: 100%;
  font-style: oblique;
  font-weight: 700;
  font-size: 24px;
}

.tech-card-item {
  transition: transform 0.3s ease;
  border-radius: 32px;
  background: #fff;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
}

.tech-card-item:hover {
  transform: translateY(-5px);
}

/*# sourceMappingURL=TechStacks.css.map */
