@charset "UTF-8";
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");
@font-face {
  font-family: "sunshine-bold";
  src: url("../../assets/fonts/gwangyang-sunshine-bold.ttf") format("truetype");
}
@font-face {
  font-family: "sunshine-regular";
  src: url("../../assets/fonts/gwangyang-sunshine-regular.ttf") format("truetype");
}
.sunshine-bold {
  font-family: "sunshine-bold", sans-serif;
}

.sunshine-regular {
  font-family: "sunshine-regular", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
*::-webkit-scrollbar {
  display: none;
}

.v-spacer-32 {
  height: 32px;
}

.v-spacer-64 {
  height: 64px;
}

.v-spacer-96 {
  height: 96px;
}

.h-spacer-16px {
  width: 16px;
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.scroll::-webkit-scrollbar {
  display: none;
}

.scroll {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.tech-board {
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100vw;
}
@media (max-width: 400px) {
  .tech-board {
    padding: 0.5rem 0;
    gap: 0.5rem;
  }
}
@media (min-width: 1023px) {
  .tech-board {
    pad: 1.2rem 0;
    gap: 0.75rem;
  }
}
.tech-board .tech-skill-title {
  text-align: center;
  font-size: 2rem;
  font-style: oblique;
  font-weight: 900;
}
@media (max-width: 400px) {
  .tech-board .tech-skill-title {
    font-size: 1.5rem;
  }
}
@media (min-width: 1023px) {
  .tech-board .tech-skill-title {
    font-size: 1.75rem;
  }
}
.tech-board .top-skill-board {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
}
@media (max-width: 400px) {
  .tech-board .top-skill-board {
    gap: 1rem;
  }
}
@media (min-width: 1023px) {
  .tech-board .top-skill-board {
    gap: 1.5rem;
  }
}
.tech-board .top-skill-board .front-skills {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 400px) {
  .tech-board .top-skill-board .front-skills {
    padding: 0.5rem;
    gap: 1rem;
  }
}
@media (min-width: 1023px) {
  .tech-board .top-skill-board .front-skills {
    padding: 1.5rem;
    gap: 0.75rem;
  }
}
.tech-board .top-skill-board .front-skills .web-base-skill {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.tech-board .top-skill-board .front-skills .web-base-skill img {
  width: 8rem;
}
@media (max-width: 400px) {
  .tech-board .top-skill-board .front-skills .web-base-skill img {
    width: 4rem;
  }
}
@media (min-width: 1000px) {
  .tech-board .top-skill-board .front-skills .web-base-skill img {
    width: 6rem;
  }
}
.tech-board .top-skill-board .front-skills .web-base-skill img:last-child {
  width: 7.5rem;
}
@media (max-width: 400px) {
  .tech-board .top-skill-board .front-skills .web-base-skill img:last-child {
    width: 3.5rem;
  }
}
@media (min-width: 1023px) {
  .tech-board .top-skill-board .front-skills .web-base-skill img:last-child {
    width: 6rem;
  }
}
.tech-board .top-skill-board .front-skills .react-icon {
  height: 8rem;
}
@media (max-width: 400px) {
  .tech-board .top-skill-board .front-skills .react-icon {
    height: 4rem;
  }
}
@media (min-width: 1023px) {
  .tech-board .top-skill-board .front-skills .react-icon {
    height: 6rem;
  }
}
.tech-board .top-skill-board .front-skills .redux-ts-sass-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.tech-board .top-skill-board .front-skills .redux-ts-sass-div img {
  width: 8rem;
}
@media (max-width: 400px) {
  .tech-board .top-skill-board .front-skills .redux-ts-sass-div img {
    width: 4rem;
  }
}
@media (min-width: 1023px) {
  .tech-board .top-skill-board .front-skills .redux-ts-sass-div img {
    width: 6rem;
  }
}
.tech-board .top-skill-board .front-skills .redux-ts-sass-div img:last-child {
  width: 9rem;
}
@media (max-width: 400px) {
  .tech-board .top-skill-board .front-skills .redux-ts-sass-div img:last-child {
    width: 4.5rem;
  }
}
@media (min-width: 1023px) {
  .tech-board .top-skill-board .front-skills .redux-ts-sass-div img:last-child {
    width: 7rem;
  }
}
.tech-board .top-skill-board .front-skills .vue-stacks {
  margin-top: 1rem;
  display: flex;
  align-items: flex-start;
  gap: 3rem;
}
.tech-board .top-skill-board .front-skills .vue-stacks img {
  width: 8rem;
}
@media (max-width: 400px) {
  .tech-board .top-skill-board .front-skills .vue-stacks img {
    width: 4rem;
  }
}
@media (min-width: 1023px) {
  .tech-board .top-skill-board .front-skills .vue-stacks img {
    width: 6rem;
  }
}
.tech-board .top-skill-board .android-skills {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 400px) {
  .tech-board .top-skill-board .android-skills {
    padding: 1rem;
    gap: 0.5rem;
  }
}
@media (min-width: 1023px) {
  .tech-board .top-skill-board .android-skills {
    padding: 1.5rem;
    gap: 0.75rem;
  }
}
.tech-board .top-skill-board .android-skills img {
  width: 8rem;
}
@media (max-width: 400px) {
  .tech-board .top-skill-board .android-skills img {
    width: 4rem;
  }
}
@media (min-width: 1023px) {
  .tech-board .top-skill-board .android-skills img {
    width: 6rem;
  }
}
.tech-board .top-skill-board .android-skills .and-top-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.tech-board .top-skill-board .android-skills .retrofit-icon {
  width: 20.5rem;
}
@media (max-width: 400px) {
  .tech-board .top-skill-board .android-skills .retrofit-icon {
    width: 10rem;
  }
}
@media (min-width: 1023px) {
  .tech-board .top-skill-board .android-skills .retrofit-icon {
    width: 15rem;
  }
}
.tech-board .top-skill-board .android-skills .and-bottom-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.tech-board .top-skill-board .android-skills .and-bottom-skills img:last-child {
  width: 15rem;
}
@media (max-width: 400px) {
  .tech-board .top-skill-board .android-skills .and-bottom-skills img:last-child {
    width: 7.5rem;
  }
}
@media (min-width: 1023px) {
  .tech-board .top-skill-board .android-skills .and-bottom-skills img:last-child {
    width: 12rem;
  }
}
.tech-board .bottom-skill-board {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
  flex-wrap: wrap;
}
@media (max-width: 400px) {
  .tech-board .bottom-skill-board {
    gap: 0.5rem;
  }
}
@media (min-width: 1023px) {
  .tech-board .bottom-skill-board {
    gap: 0.75rem;
  }
}
.tech-board .bottom-skill-board img {
  width: 8rem;
}
@media (max-width: 400px) {
  .tech-board .bottom-skill-board img {
    width: 4rem;
  }
}
@media (min-width: 1023px) {
  .tech-board .bottom-skill-board img {
    width: 6rem;
  }
}
.tech-board .bottom-skill-board .communication-tools {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 400px) {
  .tech-board .bottom-skill-board .communication-tools {
    padding: 1rem;
    gap: 0.5rem;
  }
}
@media (min-width: 1023px) {
  .tech-board .bottom-skill-board .communication-tools {
    padding: 1.5rem;
    gap: 0.75rem;
  }
}
.tech-board .bottom-skill-board .communication-tools .communication-skills {
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 400px) {
  .tech-board .bottom-skill-board .communication-tools .communication-skills {
    gap: 1rem;
  }
}
@media (min-width: 1023px) {
  .tech-board .bottom-skill-board .communication-tools .communication-skills {
    gap: 1.5rem;
  }
}
.tech-board .bottom-skill-board .config-management {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
@media (max-width: 400px) {
  .tech-board .bottom-skill-board .config-management {
    padding: 1rem;
    gap: 0.5rem;
  }
}
@media (min-width: 1023px) {
  .tech-board .bottom-skill-board .config-management {
    padding: 1.5rem;
    gap: 0.75rem;
  }
}
.tech-board .bottom-skill-board .config-management .config-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
@media (max-width: 400px) {
  .tech-board .bottom-skill-board .config-management .config-icons {
    gap: 0.5rem;
  }
}
@media (min-width: 1023px) {
  .tech-board .bottom-skill-board .config-management .config-icons {
    gap: 0.75rem;
  }
}
.tech-board .bottom-skill-board .config-management img:first-child {
  width: 12rem;
}
@media (max-width: 400px) {
  .tech-board .bottom-skill-board .config-management img:first-child {
    width: 6rem;
  }
}
@media (min-width: 1023px) {
  .tech-board .bottom-skill-board .config-management img:first-child {
    width: 10rem;
  }
}
.tech-board .bottom-skill-board .config-management .config-bottom-skills {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 400px) {
  .tech-board .bottom-skill-board .config-management .config-bottom-skills {
    gap: 0.5rem;
  }
}
@media (min-width: 1023px) {
  .tech-board .bottom-skill-board .config-management .config-bottom-skills {
    gap: 0.75rem;
  }
}

.title-line {
  width: 100%;
  height: 1px;
  background: #0b0a0a;
}

.tech-title-text {
  text-align: left;
  width: 100%;
  font-style: oblique;
  font-weight: 700;
  font-size: 1.5rem;
}
@media (max-width: 400px) {
  .tech-title-text {
    font-size: 1rem;
  }
}
@media (min-width: 1023px) {
  .tech-title-text {
    font-size: 1.25rem;
  }
}

.tech-card-item {
  transition: transform 0.3s ease;
  border-radius: 2rem;
  background: #fff;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 400px) {
  .tech-card-item {
    border-radius: 1rem;
    box-shadow: 0px 0.25rem 0.25rem 0px rgba(11, 10, 10, 0.25);
  }
}

.tech-card-item:hover {
  transform: translateY(-5px);
}

/*# sourceMappingURL=TechStacks.css.map */
