@import "./commons.scss";

.bottom-layer {
  margin-top: 64px;
  display: flex;
  width: 100%;
  height: 96px;
  justify-content: center;
  align-items: center;

  background: $black;

  .copyright-text {
    color: $white;
    font-size: 24px;
  }
}
