//font init
// helvetica
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");
// sunshine
@font-face {
  font-family: "sunshine-bold";
  src: url("../../assets/fonts/gwangyang-sunshine-bold.ttf") format("truetype");
}
@font-face {
  font-family: "sunshine-regular";
  src: url("../../assets/fonts/gwangyang-sunshine-regular.ttf") format("truetype");
}

.sunshine-bold {
  font-family: "sunshine-bold", sans-serif;
}
.sunshine-regular {
  font-family: "sunshine-regular", sans-serif;
}

$deep-sky-blue: #86caff;
$sky-blue: #e1f4ff;
$black: #0b0a0a;
$white: #fefefe;
$orange: #ffa843;

// monos
$mono900: #3d3838;
$mono800: #514c4c;
$mono700: #666060;
$mono600: #7a7777;
$mono500: #8e8c8c;
$mono400: #a3a3a3;
$mono300: #b7b7b7;
$mono200: #cccccc;
$mono100: #e0e0e0;
$mono50: #f4f4f4;

* {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}

//spacer
.v-spacer-32 {
  height: 32px;
}

.v-spacer-64 {
  height: 64px;
}

.v-spacer-96 {
  height: 96px;
}

.h-spacer-16px {
  width: 16px;
}

//scroll

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.scroll::-webkit-scrollbar {
  display: none;
}
.scroll {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
