@import "./commons.scss";

.my-info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  background: linear-gradient(147deg, $white 0%, rgba($black, 0) 100%);
  width: 100vw;
  height: max-content;
  .my-info-div {
    display: flex;
    padding: 2rem 1rem;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    @media (max-width: 400px) {
      padding: 0 1rem;
      gap: 1rem;
      flex-direction: row;
      flex-wrap: wrap;
    }
    @media (min-width: 1023px) {
      pad: 0 1.5rem;
      gap: 1.5rem;
    }
    .my-image {
      width: 16rem;
      height: 16rem;

      background-image: url("../../assets/personals/my-profile.png");
      background-position: center;
      background-size: contain;
      border-radius: 8rem;
      box-shadow: 0px 0.125rem 0.125rem 0px rgba($black, 0.25) inset, 0px 0.25rem 0.25rem 0px rgba($black, 0.25);

      transition: 0.3s;
      @media (max-width: 400px) {
        width: 6rem;
        height: 6rem;
        border-radius: 3rem;
      }
      @media (min-width: 1023px) {
        width: 10rem;
        height: 10rem;
        border-radius: 6rem;
      }

      .image-filter {
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        border-radius: 8rem;
      }
    }

    .my-image:hover {
      background-image: url("../../assets/personals//my-profile2.jpeg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .image-filter {
        background-color: rgba($mono900, 0.15);
      }
    }

    .info-items {
      display: flex;
      padding: 1rem 0px;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      @media (max-width: 400px) {
        gap: 0.5rem;
      }
      @media (min-width: 1023px) {
        gap: 0.75rem;
      }

      .item-name,
      .item-birth,
      .item-email,
      .item-location,
      .item-edu {
        display: flex;
        align-items: center;
        gap: 1rem;
        @media (max-width: 400px) {
          gap: 0.5rem;
        }
        @media (min-width: 1023px) {
          gap: 0.75rem;
        }
        p {
          font-size: 1.5rem;
          @media (max-width: 400px) {
            font-size: 1rem;
          }
          @media (min-width: 1023px) {
            font-size: 1.25rem;
          }
        }
      }

      .item-name {
        .name-div {
          display: flex;
          align-items: flex-end;
          gap: 0.5rem;
          @media (max-width: 400px) {
            gap: 0.25rem;
          }
          @media (min-width: 1023px) {
            gap: 0.35rem;
          }
          p:first-child {
            font-size: 1.5rem;
            @media (max-width: 400px) {
              font-size: 1rem;
            }
            @media (min-width: 1023px) {
              font-size: 1.25rem;
            }
          }
          p:last-child {
            font-size: 1.25rem;
            @media (max-width: 400px) {
              font-size: 0.75rem;
            }
            @media (min-width: 1023px) {
              font-size: 1rem;
            }
          }
        }
      }
      .item-edu {
        .univ-info {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          @media (max-width: 400px) {
            gap: 0.25rem;
          }
          @media (min-width: 1023px) {
            gap: 0.35rem;
          }

          p:first-child {
            font-size: 1.5rem;
            @media (max-width: 400px) {
              font-size: 1rem;
            }
            @media (min-width: 1023px) {
              font-size: 1.25rem;
            }
          }
          p:last-child {
            font-size: 1rem;
            @media (max-width: 400px) {
              font-size: 0.75rem;
            }
            @media (min-width: 1023px) {
              font-size: 0.9rem;
            }
          }
        }
      }
      div > .icon {
        width: 2rem;
        height: 2rem;
        @media (max-width: 400px) {
          width: 1.25rem;
          height: 1.25rem;
        }
        @media (min-width: 1023px) {
          width: 1.6rem;
          height: 1.6rem;
        }
        background-position: center;
        background-size: contain;
      }
    }
  }
}
